@import "../../styles/variables.module.scss";

.profile {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      color: $inputTextColor;
      font-weight: bold;
    }
  }
}
