@import "../../styles/variables.module.scss";

.profile {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    cursor: pointer;
    text-align: center;
    color: $inputTextColor;
    font-weight: bold;
    padding: 5px;
  }
}
