@import "../../styles/variables.module.scss";

.user-info {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-size: $mainFontSize * 1.25;
  }
}
