@import "../../styles/variables.module.scss";

.user-info {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    justify-content: center;
    font-size: $mainFontSize * 1.25;
    margin-bottom: 1rem;
    .username {
      color: darkred;
      font-weight: bold;
    }
  }
  .info {
    .info-item {
      display: flex;
      margin-bottom: 1rem;
      .subtitle {
        font-weight: bold;
        margin: 0 2rem 0 0;
      }
    }
  }
  @media (max-width: 320px) {
    .info {
      .info-item {
        flex-direction: column;
        .subtitle {
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
}
