$mainFont: "Rubik", sans-serif;
$mainFontSize: 1rem;
$backgroundColor: rgb(39, 151, 29);
$intutTextColor: darken($backgroundColor, 15%);
$controlsBackColor: lighten($backgroundColor, 50%);
$controlsBorderColor: mix($backgroundColor, gray, 30%);
