@import "../../styles/variables.module.scss";

.chat {
  margin: 1rem;
  padding: 1rem;
  background-color: $backgroundColor;
  border-radius: 5px;
}
.scroll-wrapper {
  margin: 1rem 0;
  background-color: lighten($controlsBackColor, 8%);
  padding: 0.5rem 0 0.1rem 0;
}
