@import "../../styles/variables.module.scss";

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $backgroundColor;
  .logo {
    text-transform: uppercase;
    padding: 5px 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    .link {
      margin-left: 1rem;
      .button {
        border-radius: 10px;
        border: 2px solid black;
        padding: 5px 10px;
      }
    }
    .active {
      background-color: aqua;
    }
  }
}
a:visited,
a:link {
  text-decoration: none;
  color: black;
}
