@import "../../styles/variables.module.scss";
a:visited,
a:link {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  color: $inputTextColor;
}
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $backgroundColor;
  .logo {
    text-transform: uppercase;
    background-color: rgb(251, 251, 251);
    line-height: 2rem;
    border: 2px solid $controlsBorderColor;
    border-radius: 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    a.active {
      text-decoration: underline;
    }
    .link {
      margin-left: 1rem;
    }
  }
}
