@import "../../styles/variables.module.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: darken($backgroundColor, 15%);
  @media (max-width: 576px) {
  }
  .logo {
    padding-left: 1rem;
    width: 100px;
    a {
      display: block;
      img {
        border: 2px solid white;
        border-radius: 10px;
        width: 100%;
      }
    }
  }
}
a:visited,
a:link {
  text-decoration: none;
}
