@import "../../styles/variables.module.scss";

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapper {
    border: 2px solid rgb(161, 189, 151);
    background-color: rgb(39, 151, 29);
    padding: 2rem;
    color: white;
    font-weight: bold;
    width: 350px;
    .title {
      padding: 0.5rem 0;
      text-align: center;
      font-size: $fontSizeTitle;
    }
    .field {
      margin: 0.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      label {
        padding-bottom: 0.5rem;
        text-align: center;
      }
      input {
        border: none;
        border-radius: 0.3125rem;
        padding: 0.5rem;
        background-color: rgb(199, 255, 199);
        color: $inputTextColor;
        font-weight: bold;
        font-family: $mainFont;
        font-size: $mainFontSize;
      }
      input:focus {
        outline: 2px solid rgb(237, 200, 114);
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      .switch {
        margin-top: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        color: lighten($backgroundColor, 40%);
      }
      .switch:hover {
        cursor: pointer;
        color: lighten($backgroundColor, 80%);
      }
    }
  }
}
