@import "../../styles/variables.module.scss";

.button {
  border-radius: 10px;
  font-size: $mainFontSize;
  font-weight: bold;
  line-height: 2rem;
}
.green {
  background-color: $controlsBackColor;
  border: 2px solid $controlsBorderColor;
  color: $inputTextColor;
}
.send-icon {
  background-color: gray;
  color: gold;
}
